@charset "UTF-8";
@media all and (min-width: 1025px) {
  html,
  body,
  #page-header,
  #body-div {
    height: 100%; }

  #body-div {
    position: relative; }

  #page-header {
    position: absolute;
    left: 0;
    max-width: 500px;
    width: 25%;
    top: 0;
    height: 100%;
    text-align: right; }

  #content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 25%;
    right: 0; }

  #content-div {
    margin-left: 3rem; }
    #content-div .section-header {
      margin-left: -3rem; }

  .nav li {
    padding: 0.2rem 2rem;
    margin-bottom: 1.5rem; }

  .header-body {
    padding: 3rem 2rem; }

  #title-div {
    margin: 0.5rem 0 2rem; } }
@media all and (max-width: 1024px) {
  #page-header {
    position: relative;
    text-align: left; }

  #main-nav {
    padding-top: 2rem; }

  .nav li {
    display: inline-block;
    padding: 0.2rem 1rem;
    margin-right: 1rem; }

  .header-body {
    padding: 2rem; }

  #title-div {
    margin: 0;
    float: left; } }
@media all and (min-width: 501px) and (max-width: 1024px), all and (min-device-width: 501px) and (max-device-width: 1024px) {
  #content-div {
    margin-left: 3rem; }
    #content-div .section-header {
      margin-left: -3rem; } }
@media all and (max-device-width: 1024px) {
  html {
    font-size: 100%; } }
html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', 'Verdana';
  font-weight: 300;
  font-size: 1.8rem; }

a {
  color: #32a8e5; }

a:hover {
  color: #d15136; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.4rem; }

h2,
h3 {
  margin-bottom: .5rem;
  color: #d15136;
  font-family: 'Roboto Slab';
  font-weight: 700; }

p {
  margin: 0; }

p + p,
p + form {
  margin-top: 1rem; }

p + ul {
  margin-top: .5rem; }

li {
  margin-bottom: .33rem; }

ul {
  padding-left: 1.5rem; }

.bullet-list {
  list-style: none; }
  .bullet-list li {
    list-style: none;
    padding-left: 1.5rem; }
  .bullet-list li:before {
    float: left;
    margin-left: -1.5rem;
    content: '»';
    font-weight: bold; }

.summary {
  font-size: 2.2rem; }

.error {
  background-color: #9b718b;
  color: #f0e4d3;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem; }

.social-links {
  list-style: none;
  padding-left: 0; }
  .social-links li {
    display: inline-block;
    margin: 0 0.5rem; }
  .social-links li:first-child {
    margin-left: 0; }
  .social-links li:last-child {
    margin-right: 0; }
  .social-links a {
    color: #000000;
    text-decoration: none; }
  .social-links a:hover {
    color: #32a8e5; }

.social-links-small {
  margin: 0; }
  .social-links-small li {
    margin: 0 .5rem; }

.social-links-large {
  margin: 2rem 0 0; }
  .social-links-large li {
    margin: 0 2rem; }

#page-header {
  background-color: #d15136; }

#content {
  background-color: #f0e4d3; }

#footer {
  background-color: #32a8e5;
  color: #ffffff;
  height: 96px; }

.footer-inner {
  padding: 1rem 2rem; }

.container-div-wrapper {
  min-height: 100%;
  margin-bottom: -96px; }

.container-div-wrapper:after {
  content: '';
  display: block;
  height: 96px; }

#content-div {
  max-width: 800px; }

.section-header {
  margin-top: 0;
  margin-bottom: 2rem; }
  .section-header h1 {
    line-height: 6.4rem;
    font-size: 6.4rem;
    text-transform: uppercase;
    color: #ce85b3;
    font-family: 'Anton';
    margin: 0; }

#title-div {
  font-size: 2rem; }
  #title-div .title {
    font-family: 'PT Sans Narrow';
    font-size: 4rem;
    margin: 0;
    font-weight: bold;
    color: #f0e4d3; }
    #title-div .title a,
    #title-div .title a:hover {
      color: #f0e4d3;
      text-decoration: none; }

.nav {
  list-style: none;
  padding-left: 0;
  font-family: 'Roboto Slab';
  font-size: 2.2rem;
  margin: 0; }
  .nav li {
    background-color: #32a8e5;
    color: #ffffff;
    box-shadow: .5rem .5rem 0 #ffffff;
    -webkit-box-shadow: .5rem .5rem 0 #ffffff;
    -moz-box-shadow: .5rem .5rem 0 #ffffff; }
  .nav li:hover,
  .nav .active {
    box-shadow: 0.5rem 0.5rem 0 #ce85b3;
    -webkit-box-shadow: 0.5rem 0.5rem 0 #ce85b3;
    -moz-box-shadow: 0.5rem 0.5rem 0 #ce85b3; }
  .nav li a {
    color: #eee;
    font-weight: bold;
    text-decoration: none;
    display: block; }
  .nav li a:hover {
    text-decoration: none; }

.footer-nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-family: 'Roboto Slab'; }
  .footer-nav li {
    display: inline-block;
    margin-right: .25rem; }
  .footer-nav li:after {
    content: '|';
    padding-left: .25rem; }
  .footer-nav li:last-child:after {
    content: ''; }
  .footer-nav a {
    color: white; }
  .footer-nav a:hover {
    color: #d15136; }

.section-inner {
  max-width: 800px; }

.blog-entries {
  padding: 0;
  list-style: none; }
