$camel: #f0e4d3;
$blue: #32a8e5;
$pink: #ce85b3;
$pink-bright: #e7a9d0;
$pink-dark: #9b718b;
$orangish: #d15136;

$footer-height: 96px;

$threshold-desktop: 1024px;
$threshold-tablet: 800px;
$threshold-mobile: 500px;

// Two columns
@media all and (min-width: $threshold-desktop + 1) {
  html,
	body,
	#page-header,
	#body-div {
		height: 100%;
	}

  #body-div {
		position: relative;
	}

  #page-header {
		position: absolute;
		left: 0;
		max-width: 500px;
		width: 25%;
		top: 0;
		height: 100%;
		text-align: right;
	}

  #content {
		overflow: auto;
		position: absolute;
		bottom: 0;
		top: 0;
		left: 25%;
		right: 0;
	}
	#content-div {
		margin-left: 3rem;
		.section-header {
			margin-left: -3rem;
		}
	}
	.nav li {
		padding: 0.2rem 2rem;
		margin-bottom: 1.5rem;
	}
	.header-body {
		padding: 3rem 2rem;
	}
	#title-div {
		margin: 0.5rem 0 2rem;
	}
}

// One column
@media all and (max-width: $threshold-desktop) {
	#page-header {
		position: relative;
		text-align: left;
	}
	#main-nav {
		padding-top: 2rem;
	}
	.nav li {
		display: inline-block;
		padding: 0.2rem 1rem;
		margin-right: 1rem;
	}
	.header-body {
		padding: 2rem;
	}
	#title-div {
		margin: 0;
		float: left;
	}
}

// One column (medium)
@media all and (min-width: $threshold-mobile + 1) and (max-width: $threshold-desktop),
all and (min-device-width: $threshold-mobile + 1) and (max-device-width: $threshold-desktop) {
	#content-div {
		margin-left: 3rem;
		.section-header {
			margin-left: -3rem;
		}
	}
}

@media all and (max-device-width: $threshold-desktop) {
	html { font-size: 100%; }
}

// GENERAL STYLES

html {
	font-size: 62.5%; // 1rem <=> 10px
}

body {
	font-family: 'Roboto', 'Verdana';
	font-weight: 300;
	font-size: 1.8rem;
}
a {
	color: $blue;
}
a:hover {
	color: $orangish;
}
h2 {
	font-size: 3rem;
}
h3 {
	font-size: 2.4rem;
}
h2, 
h3 {
	margin-bottom: .5rem;
	color: $orangish;
	font-family: 'Roboto Slab';
	font-weight: 700;
}
p {
	margin: 0;
}
p + p,
p + form {
	margin-top: 1rem;
}
p + ul {
 margin-top: .5rem;
}
li {
	margin-bottom: .33rem;
}
ul {
	padding-left: 1.5rem;
}
.bullet-list {
	list-style: none;
	li {
		list-style: none;
		padding-left: 1.5rem;
	}
	li:before {
		float: left;
		margin-left: -1.5rem;
		content: '»';
		font-weight: bold;
	}
}

.summary {
	font-size: 2.2rem;
}

.error {
	background-color: $pink-dark;
	color: $camel;
	padding: 1rem;
	font-size: 1.8rem;

	border-radius: 0.5rem;
	-webkit-border-radius: 0.5rem;
	-moz-border-radius: 0.5rem;
}

.social-links {
	list-style: none;
	padding-left: 0;
	li {
		display: inline-block;
		margin: 0 0.5rem;
	}
	li:first-child {
		margin-left: 0;
	}
	li:last-child {
		margin-right: 0;
	}
	a {
		color: #000000;
		text-decoration: none;
	}
	a:hover {
		color: $blue;
	}
}
.social-links-small {
	margin: 0;
	li {
		margin: 0 .5rem;
	}
}
.social-links-large {
	margin: 2rem 0 0;
	li {
		margin: 0 2rem;
	}
}

// HEADER
#page-header {
	background-color: $orangish;
}
#content {
	background-color: $camel;
}
#footer {
	background-color: $blue;
	color: #ffffff;
	height: $footer-height;
}
.footer-inner {
	padding: 1rem 2rem;
}

.container-div-wrapper {
	min-height: 100%;
	margin-bottom: -$footer-height;
}
.container-div-wrapper:after {
	content: '';
  display: block;
  height: $footer-height;
}
#content-div {
	max-width: 800px;
}
.section-header {
	margin-top: 0;
	margin-bottom: 2rem;
	h1 {
		line-height: 6.4rem;
		font-size: 6.4rem;
		text-transform: uppercase;
		color: $pink;
		font-family: 'Anton';
		margin: 0;
	}
}
#title-div {
	font-size: 2rem;
	.title {
		font-family: 'PT Sans Narrow';
		font-size: 4rem;
		margin: 0;
		font-weight: bold;
		color: $camel;
		a,
		a:hover {
			color: $camel;
			text-decoration: none;
		}
	}
}


// NAVIGATION
.nav {
	list-style: none;
	padding-left: 0;
	font-family: 'Roboto Slab';
	font-size: 2.2rem;
	margin: 0;

	li {
		background-color: $blue;
		color: #ffffff;
		box-shadow: .5rem .5rem 0 #ffffff;
		-webkit-box-shadow: .5rem .5rem 0 #ffffff;
		-moz-box-shadow: .5rem .5rem 0 #ffffff;
	}
	li:hover,
	.active {
		box-shadow: .5rem .5rem 0 $pink;
		-webkit-box-shadow: .5rem .5rem 0 $pink;
		-moz-box-shadow: .5rem .5rem 0 $pink;
	}
	li a {
		color: #eee;
		font-weight: bold;
		text-decoration: none;
		display: block;
	}
	li a:hover {
		text-decoration: none;
	}
}


// FOOTER NAVIGATION
.footer-nav {
	list-style: none;
	padding-left: 0;
	margin: 0;
	font-family: 'Roboto Slab';

	li {
		display: inline-block;
		margin-right: .25rem;
	}
	li:after {
		content: '|';
		padding-left: .25rem;
	}
	li:last-child:after {
		content: '';
	}

	a {
		color: white;
	}
	a:hover {
		color: $orangish;
	}
}

// TITLES
.section-inner {
	max-width: 800px;
}

// INDEX
 .blog-entries {
 	padding: 0;
 	list-style: none;
}
