{% raw %}
<script id="project-tmpl" type="text/x-handlebars-template">
	<article class="project">
		<header class="section-header">
			<h1>{{name}}</h1>

			<div>
				<span class="project-date">{{date}}</span>
				<span style="margin: 0 0.5rem;" />
				<span class="cat" title="Category: {{category}}">{{category}}</span>
				<span style="margin: 0 0.5rem;" />
				{{#each tags}}<span class="tag">{{this}}</span>{{/each}}
			</div>
		</header>

		<p class="summary">{{{desc}}}</p>
		<div>
			{{#if links}}
			<div class="project-links">
				<ul>
				{{#each links}}
					<li><a href="{{url}}" target="_blank"><i class="fa fa-{{linkIcon type}}"></i> {{text}}</a></li>
				{{/each}}
				</ul>
			</div>
			{{/if}}
		</div>


		{{#if images}}
		<div class="project-photos">
		{{#each images}}
			<a href="images/projects/{{../id}}/{{img}}" title="{{title}}">
				<img src="images/projects/{{../id}}/thumb_{{img}}" alt="{{../name}} screenshot" /></a>
		{{/each}}
		</div>
		{{/if}}

		{{#each long_desc}}
			<p>{{{this}}}</p>
		{{/each}}
	</article>

	<nav class="project-nav">
		<ul>
			{{#if previous}}
			<li><a href="project.html?p={{previous.id}}" data-nav title="Previous: {{previous.name}}"><i class="fa fa-arrow-circle-left fa-4x"></i></a></li>
			{{/if}}
			<li><a href="projects.html" data-nav title="Projects"><i class="fa fa-arrow-circle-up fa-4x"></i></a></li>
			{{#if next}}
			<li><a href="project.html?p={{next.id}}" data-nav title="Next: {{next.name}}"><i class="fa fa-arrow-circle-right fa-4x"></i></a></li>
			{{/if}}
		</ul>
	</nav>
</script>
{% endraw %}
