{% raw %}
<script id="projects-tmpl" type="text/x-handlebars-template">
	{{#if filter}}
	<div class="filter-div">
		<span>Filtering projects by: </span>
		{{~#if catFilter~}}
		<span class="filter-left" title="'{{catFilter}}' category"><i class="fa fa-folder-open"></i> {{catFilter}}
		{{~else~}}
		<span class="filter-left" title="'{{tagFilter}}' tag"><i class="fa fa-tag"></i> {{tagFilter~}}
		{{~/if~}}
		</span><span class="filter-right"><a href="/projects.html" title="Remove filter" data-nav><i class="fa fa-times"></i></a>
		</span>
	</div>
	{{/if}}
	<div class="projects-grid" data-columns>
	{{#eachProject projects catFilter tagFilter}}
		<div class="project-entry">
			<a href="project.html?p={{id}}" data-nav>
				<img src="images/projects/{{id}}-thumb.png" alt="{{name}} screenshot" />
			</a>
			<div>
				<h2 class="project-title">
					<a href="project.html?p={{id}}" data-nav>{{name}}</a>
				</h2>
				<p>{{desc}}</p>
			</div>
			<div class="project-tags">
				<span class="cat"><a href="/projects.html?c={{category}}" title="Filter by '{{category}}' category" data-nav>{{category}}</a></span>
				{{#each tags}}<span class="tag"><a href="/projects.html?t={{this}}" title="Filter by '{{this}}' tag" data-nav>{{this}}</a></span>{{/each}}
			</div>
		</div>
	{{/eachProject}}
	</div>
	<div style="clear: both;"></div>
</script>
{% endraw %}
