<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Angel Calvo's Website</title>
		<!-- CSS -->
		<link href="css/normalize.css" rel="stylesheet" />
		<link href="css/angel.css" rel="stylesheet" />
		<link href="css/animate-custom.css" rel="stylesheet" />
		<link href="css/lightbox.css" rel="stylesheet" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto:300,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
		<link type="text/plain" rel="author" href="humans.txt" />
	</head>

	<body>
		<div id="body-div">
			<!-- header -->
			<header id="page-header">
				<div class="header-body">
					<div id="profile-div">
						<img class="profile-img" src="images/profile.jpg" alt="Profile photo"/>
					</div>

					<div id="title-div">
						<h1><a href="index.html" data-nav>Angel Calvo</a></h1>
						<span class="subtitle">Developer</span><br/>
						<div class="social-links">
							<a href="https://github.com/polypiel" target="_blank" title="Github profile"><i class="fa fa-github"></i></a>
							<a href="http://stackoverflow.com/users/622772/polypiel" target="_blank" title="Stack Overflow profile"><i class="fa fa-stack-overflow"></i></a>
							<a href="mailto:hi@angelcalvo.com" target="_blank" title="Write me!"><i class="fa fa-envelope"></i></a>
						</div>
					</div>
					<div style="clear: both;" />

					<nav id="main-nav"><ul class="nav">
						<li><a href="projects.html" data-nav title="See my personal projects">Projects</a></li>
						<li><a href="about.html" data-nav title="Know more about me">About Me</a></li>
						<li><a href="cv.html" data-nav title="View my CV">CV</a></li>
					</ul></nav>
				</div>
			</header>

			<!-- content -->
			<section id="content">
				<div id="container-div" class="header-body">
					{{ content }}
				</div>

				<!-- footer -->
				<footer id="footer">
					<div class="footer-inner">
						2014. Angel Calvo.<br/>
						<nav><ul class="footer-nav">
							<li><a href="index.html" data-nav title="Home">Home</a></li>
							<li><a href="projects.html" data-nav title="See my personal projects">Projects</a></li>
							<li><a href="about.html" data-nav title="Know more about me">About Me</a></li>
							<li><a href="cv.html" data-nav title="View my CV">CV</a></li>
						</ul></nav>
					</div>
				</footer>
			</section>


		</div>

		<!-- tmpls -->
		{% include project-tmpl.html %}
		{% include projects-tmpl.html %}

		<!-- scripts -->
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script type="text/javascript" src="js/simplespi.js"></script>
		<script type="text/javascript" src="js/handlebars-v1.3.0.min.js"></script>
		<script type="text/javascript" src="js/angel.js"></script>
		<script type="text/javascript" src="projects.json"></script>
		<script type="text/javascript" src="js/lightbox-2.6.min.js"></script>
		<script type="text/javascript" src="js/salvattore.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				Angel.init({
					projects: {map: projects, seq: active_projects},
					container: $('#container-div'),
					toLoad: '#content-div',
					menu: $('.nav a')
				});
			});
		</script>

		<!-- google analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-47077118-4', 'angelcalvo.com');
		  ga('send', 'pageview');

		</script>
	</body>
</html>
