@charset "UTF-8";
/* #f0e0c8; //#e0cdaf; */
/* Two columns */
@media all and (min-width: 1025px) {
  html,
  body, proto
  #page-header,
  #body-div {
    height: 100%; }

  #body-div {
    position: relative; }

  #page-header {
    position: absolute;
    left: 0;
    max-width: 500px;
    width: 25%;
    top: 0;
    height: 100%;
    text-align: right; }

  #content {
    overflow: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 25%;
    right: 0; }

  #content-div {
    margin-left: 3rem; }
    #content-div .section-header {
      margin-left: -3rem; }

  .nav li {
    padding: 0.2rem 2rem;
    margin-bottom: 1.5rem; }

  .header-body {
    padding: 3rem 2rem; }

  #title-div {
    margin: 0.5rem 0 2rem 0; } }
/* One column */
@media all and (max-width: 1024px) {
  #page-header {
    position: relative;
    text-align: left; }

  #main-nav {
    padding-top: 2rem; }

  .nav li {
    display: inline-block;
    padding: 0.2rem 1rem;
    margin-right: 1rem; }

  #profile-div {
    float: left;
    margin-right: 2rem; }

  .header-body {
    padding: 2rem; }

  #title-div {
    margin: 0;
    float: left; } }
/* One column (medium) */
@media all and (min-width: 501px) and (max-width: 1024px), all and (min-device-width: 501px) and (max-device-width: 1024px) {
  #content-div {
    margin-left: 3rem; }
    #content-div .section-header {
      margin-left: -3rem; } }
@media all and (max-device-width: 1024px) {
  html {
    font-size: 100%; } }
/* GENERAL STYLES */
html {
  font-size: 62.5%; }

body {
  font-family: 'Roboto', 'Verdana';
  font-weight: 300;
  font-size: 1.8rem; }

a {
  color: #32a8e5; }

a:hover {
  color: #d15136; }

h2 {
  font-size: 3rem; }

h3 {
  font-size: 2.4rem; }

h2, h3 {
  margin-bottom: 0.5rem;
  color: #d15136;
  font-family: 'Roboto Slab';
  font-weight: 700; }

p {
  margin: 0; }

p + p,
p + form {
  margin-top: 1rem; }

p + ul {
  margin-top: 0.5rem; }

li {
  margin-bottom: 0.33rem; }

ul {
  padding-left: 1.5rem; }

.bullet-list {
  list-style: none; }
  .bullet-list li {
    list-style: nonarticlee;
    padding-left: 1.5rem; }
  .bullet-list li:before {
    float: left;
    margin-left: -1.5rem;
    content: '»';
    font-weight: bold; }

.summary {
  font-size: 2.2rem; }

.error {
  background-color: #9b718b;
  color: #f0e4d3;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem; }

.social-links {
  list-style: none;
  padding-left: 0; }
  .social-links li {
    display: inline-block;
    margin: 0 0.5rem; }
  .social-links li:first-child {
    margin-left: 0; }
  .social-links li:last-child {
    margin-right: 0; }
  .social-links a {
    color: black;
    text-decoration: none; }
  .social-links a:hover {
    color: #32a8e5; }

.social-links-small {
  margin: 0; }
  .social-links-small li {
    margin: 0 0.5rem; }

.social-links-large {
  margin: 2rem 0 0 0; }
  .social-links-large li {
    margin: 0 2rem; }

/* HEADER */
#page-header {
  background-color: #d15136; }

#content {
  background-color: #f0e4d3; }

#footer {
  background-color: #32a8e5;
  color: white; }

.footer-inner {
  padding: 1rem 2rem; }

#content-div {
  max-width: 800px; }

.section-header {
  margin-top: 0;
  margin-bottom: 2rem; }
  .section-header h1 {
    line-height: 6.4rem;
    font-size: 6.4rem;
    text-transform: uppercase;
    color: #ce85b3;
    font-family: 'Anton';
    margin: 0; }

#title-div {
  font-size: 2rem; }
  #title-div h1 {
    font-family: 'PT Sans Narrow';
    font-size: 4rem;
    margin: 0;
    font-weight: bold;
    color: #f0e4d3; }
    #title-div h1 a,
    #title-div h1 a:hover {
      color: #f0e4d3;
      text-decoration: none; }

/* NAV */
.nav {
  list-style: none;
  padding-left: 0;
  font-family: 'Roboto Slab';
  font-size: 2.2rem;
  margin: 0; }
  .nav li {
    background-color: #32a8e5;
    color: white;
    box-shadow: 0.5rem 0.5rem 0 white;
    -webkit-box-shadow: 0.5rem 0.5rem 0 white;
    -moz-box-shadow: 0.5rem 0.5rem 0 white; }
  .nav li:hover,
  .nav .active {
    box-shadow: 0.5rem 0.5rem 0 #ce85b3;
    -webkit-box-shadow: 0.5rem 0.5rem 0 #ce85b3;
    -moz-box-shadow: 0.5rem 0.5rem 0 #ce85b3; }
  .nav li a {
    color: #EEE;
    font-weight: bold;
    text-decoration: none;
    display: block; }
  .nav li a:hover {
    text-decoration: none; }

/* FOOTER NAV */
.footer-nav {
  list-style: none;
  padding-left: 0;
  margin: 0;
  font-family: 'Roboto Slab'; }
  .footer-nav li {
    display: inline-block;
    margin-right: 0.25rem; }
  .footer-nav li:after {
    content: '|';
    padding-left: 0.25rem; }
  .footer-nav li:last-child:after {
    content: ''; }
  .footer-nav a {
    color: white; }
  .footer-nav a:hover {
    color: #d15136; }

/* TITLES */
.section-inner {
  max-width: 800px; }

.profile-img {
  width: 128px;
  height: 128px;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem; }

/* CV */
.cv-entry {
  margin-bottom: 3rem; }

.cv-section {
  font-variant: small-caps; }

.cv-date {
  font-size: 1.6rem;
  font-style: italic; }
  @media screen and (min-width: 800px) {
    .cv-date {
      float: left;
      width: 12%; } }

@media screen and (min-width: 800px) {
  .cv-right {
    float: left;
    width: 88%; } }

@media screen and (min-width: 800px) {
  .cv-right-inner {
    margin-left: 1rem; } }

.cv-entry-header {
  margin-bottom: 1rem; }

.cv-role {
  color: #d15136;
  font-weight: bold;
  font-size: 2rem; }

.cv-tagbox {
  margin: 0;
  padding-left: 0; }
  .cv-tagbox li {
    display: inline-block; }
  .cv-tagbox li:before {
    content: " "; }

/* PROJECTS */
.projects-grid {
  margin: 2rem 0; }

.project-entry {
  margin: 0 0.75rem 1.5rem 0.75rem;
  padding: 0.5rem;
  background-color: white;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px; }
  .project-entry img {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: 0 auto; }

/* Grid */
@media screen and (max-width: 500px), only screen and (max-device-width: 500px) and (orientation: portrait) {
  .projects-grid[data-columns]::before {
    content: '1 .column.size-1of1'; } }
@media screen and (min-width: 501px) and (max-width: 900px), only screen and (max-device-width: 900px) and (orientation: landscape) {
  .projects-grid[data-columns]::before {
    content: '2 .column.size-1of2'; } }
@media screen and (min-width: 901px) {
  .projects-grid[data-columns]::before {
    content: '3 .column.size-1of3'; } }
/* Project grid */
.column {
  float: left; }

.size-1of1 {
  width: 100%; }

.size-1of2 {
  width: 50%; }

.size-1of3 {
  width: 33.333%; }

/* Also, don't forget to add this: */
[data-columns]::before {
  position: absolute;
  right: 9999em;
  bottom: 9999em;
  visibility: hidden; }

.project-title {
  font-weight: bold;
  margin-bottom: 0;
  font-size: 2rem;
  margin-top: 0.5rem; }

.project-tags {
  border-top: 1px dotted #ce85b3; }

/* PROJECT */
.project-photos {
  border-top: 1px dotted #d15136;
  border-bottom: 1px dotted #d15136;
  padding: 0.5rem 0;
  margin: 1rem 0;
  text-align: center; }
  .project-photos img {
    vertical-align: top; }

.project-date {
  font-size: 1.6rem; }

.project-nav {
  margin-top: 3rem; }

.project-nav ul {
  list-style: none outside none;
  margin: 0;
  padding-left: 0; }
  .project-nav ul li {
    display: inline-block;
    padding: 0;
    margin: 0 1rem; }
  .project-nav ul li:first-child {
    margin-left: 0; }
  .project-nav ul li:last-child {
    margin-right: 0; }
  .project-nav ul a {
    text-decoration: none; }

.project-links ul {
  margin: 0;
  padding-left: 0; }
  .project-links ul li {
    list-style: none outside none;
    display: inline-block;
    margin-right: 1rem;
    padding-left: 0; }
  .project-links ul li:before {
    content: ""; }

/* TAGS */
.tag {
  background: #d15136;
  color: #f0e4d3;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  padding: 0 2px;
  margin: 2px 1px;
  font-weight: bold;
  font-size: 1.4rem; }

.cat {
  color: #d15136;
  font-weight: bold;
  font-size: 1.4rem;
  text-transform: capitalize; }

/* form */
/*
label {
  display: block;
  letter-spacing: 2px;
}

input,
textarea {
	margin-bottom: 1rem;
}
input[type=text],
input[type=email],
textarea {
	width: 100%;
	padding: 0.5rem 0.2rem;
	border: 1px solid #dedede;
	-moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  border-radius: 0.2rem;
}
input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
    border: 1px solid $blue;
}
input[type=submit] {
	font-weight: bold;
	background-color: $pink;
	color: white;
	border: 2px solid $pink;
	border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  padding: 0.5rem 1rem;
}
input[type=submit]:hover {
	background-color: $pink_bright;
}
input[type=submit]:active {
	background-color: $pink_dark;
}
.required {
	color: $pink;
	font-weight: bold;
}
*/
