---
layout: default
---

<article id="content-div">
  <header class="section-header">
    <h1>{{page.title}}</h1>
    <span class="project-date">{{page.date | date: "%-d %b %Y"}}</span>
  </header>
	{{ content }}
</article>

<nav>
	{% if page.next %}<a href="{{page.next.url}}" title="Next article" data-nav><i class="fa fa-angle-left"></i> Next</a> {% endif %}
	{% if page.previous %}<a href="{{page.previous.url}}" title="Previous article" data-nav><i class="fa fa-angle-right"></i> Previous</a>{% endif %}
</nav>
