---
layout: default
---
<article id="content-div">
  <header class="section-header">
    <h1>CV</h1>
  </header>

  <div>
    {{site.data.cv.statement}}

    {% for section in site.data.cv.sections %}
    <div>
      <h3 class="cv-section">{{section.name}}</h3>

      {% for entry in section.entries %}
      <div class="cv-entry">
        <div class="cv-date">
          <div>{{entry.start}}{% if entry.end %} - {{entry.end}}{% endif %}</div>
        </div>

        <div class="cv-right">
          <div class="cv-right-inner">
            <header class="cv-entry-header">
            {% if entry.url %}<a href="{{entry.url}}" class="cv-role" target="_blank">{{entry.role}}</a>{% else %}<span class="cv-role">{{entry.role}}</span>{% endif %}{% if entry.company %}<span>, {% if entry.company.url %}<a href="{{entry.company.url}}" target="_blank">{{entry.company.name}}</a>{% else %}{{entry.company.name}}{% endif %}{% if entry.company.location %} - {{entry.company.location}}{% endif %}</span>{% endif %}.
            {% if entry.tags %}
            <ul class="cv-tagbox">
              {% for tag in entry.tags %}
              <li class="tag">{{tag}}</li>
              {% endfor %}
            </ul>
            {% endif %}
            </header>

            {{entry.desc}}

            {% if entry.projects %}
            <p>Projects:<p/>
            <ul class="bullet-list">
              {% for project in entry.projects %}
              <li>
                {{project.desc}}<br/>
                {% for link in project.links %}
                  <a href="{{link.url}}">{{link.name}}</a>
                {% endfor %}
              </li>
              {% endfor %}
            </ul>
            {% endif %}

            {% if entry.achievements %}
            <p>Key achievements:</p>
            <ul class="bullet-list">
              {% for achievement in entry.achievements %}
              <li>{{achievement}}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        <div style="clear: both;"></div>
      </div>
      {% endfor %}
    </div>
    {% endfor %}

  </div>
</article><!-- #content-div -->
